#search-go{
    height: 30px;
    width: 80px;
}

.info{
    position: absolute;
    padding: 0px 10px 10px 10px;
    top: 25px;
    height: 250px;
    background: rgba(227, 233, 237, 0.72);
    color: #333;
    visibility: hidden;
    opacity: 0;
    width: 252px;
}

@media(max-width: 692px){
    .image {
        display: inline-block !important;
    }
}

.image {
    margin-top: 35px;
    position: relative;
    height: 250px;
    width: 250px;
    cursor: pointer;
    margin-right: 20px;
}

.image:hover .info{
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.4s;
}

.image img{
    display: block;
    margin: 0 0;
}

.search{
    padding-left: 30px;
    text-align: center;
}

.search input{
    width: 400px;
    height: 30px;
    text-align: left;
}